body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  --ch-scrollycoding-sticker-width: 600px;
  --ch-scrollycoding-code-min-height: 62vh;
}